# Task 1

In [23]:
import pandas as pd
import numpy as np
import sqlite3 as sql

In [24]:
# Creates connection to database file
# database = "jupiter.db"
# connection = sql.connect(database)

In [25]:
# df = pd.read_sql_query(query, connection)
# df.head()

In [26]:
class Moons:
    def __init__(self, database = 'jupiter.db', connection = sql.connect(database)):
        self.database = database
        self.connection = connection
        self.df = pd.read_sql_query('SELECT * FROM moons', self.connection)
        
    def summary_statistics(self):
        return self.df.describe()
    
    def correlation(self):
        return self.df.corr()
    
    def extract_moon_data(self, moon_name):
        moon_data = self.df[self.df['moon'] == moon_name]
        return moon_data
    
#     def plots(self):

In [27]:
moons_instance = Moons()
moons_instance.df.head()

,moon,period_days,distance_km,radius_km,mag,mass_kg,group,ecc,inclination_deg
0,Adrastea,0.298,129000.0,8.2,NaN,NaN,Inner,0.001500,0.03
1,Aitne,730.000,23231000.0,1.5,22.7,NaN,Carme,0.264000,165.00
2,Amalthea,0.498,181400.0,83.5,14.1,2.080000e+18,Inner,0.003190,0.37
3,Ananke,630.000,21300000.0,14.0,18.9,NaN,Ananke,0.174725,148.60
4,Aoede,761.000,24000000.0,2.0,22.5,NaN,Pasiphae,0.432000,158.00

In [50]:

summary_stats = moons_instance.summary_statistics()
print(summary_stats)

       period_days   distance_km    radius_km        mag       mass_kg  \
count    56.000000  5.600000e+01    56.000000  53.000000  6.000000e+00
mean    525.998146  1.775655e+07   158.969643  20.418302  6.551798e+22
std     272.670243  8.253688e+06   557.730632   4.926587  6.010469e+22
min       0.290000  1.280000e+05     1.000000   4.610000  2.080000e+18
25%     258.750000  1.170252e+07     1.500000  20.800000  1.200276e+22
50%     632.500000  2.129009e+07     2.000000  22.500000  6.865891e+22
75%     725.500000  2.336375e+07    11.562500  23.000000  1.030252e+23
max     787.000000  2.458309e+07  2634.100000  23.700000  1.481900e+23

             ecc  inclination_deg
count  56.000000        56.000000
mean    0.222922       113.571607
std     0.126899        64.562822
min     0.000200         0.030000
25%     0.159201        30.582500
50%     0.228000       148.600000
75%     0.298858       159.175000
max     0.611016       166.200000

In [51]:
correlation_matrix = moons_instance.correlation()
print(correlation_matrix)

                 period_days  distance_km  radius_km       mag   mass_kg  \
period_days         1.000000     0.991521  -0.534434  0.742646 -0.504430
distance_km         0.991521     1.000000  -0.567266  0.799187 -0.453339
radius_km          -0.534434    -0.567266   1.000000 -0.887393  0.968379
mag                 0.742646     0.799187  -0.887393  1.000000 -0.861359
mass_kg            -0.504430    -0.453339   0.968379 -0.861359  1.000000
ecc                 0.737181     0.750819  -0.478901  0.554617 -0.543138
inclination_deg     0.969493     0.953873  -0.487645  0.688529 -0.489378

                      ecc  inclination_deg
period_days      0.737181         0.969493
distance_km      0.750819         0.953873
radius_km       -0.478901        -0.487645
mag              0.554617         0.688529
mass_kg         -0.543138        -0.489378
ecc              1.000000         0.645961
inclination_deg  0.645961         1.000000

/tmp/ipykernel_139/1249176142.py:11: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  return self.df.corr()

In [54]:
moon_data = moons_instance.extract_moon_data('Aitne')
print(moon_data)

    moon  period_days  distance_km  radius_km   mag  mass_kg  group    ecc  \
1  Aitne        730.0   23231000.0        1.5  22.7      NaN  Carme  0.264

   inclination_deg
1            165.0